* {
  font-family: "Josefin Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* using tailwind Stone pallette */
  --buttons-clr: ; /* 700 */
  --reset-btn-clr: #78716c; /* 500 */
  --body-bg-color: #0c0a09; /* 950 */
  --header-bg-color: #55524f;
  --reset-hover-color: #1c1917; /* 900 */
  --history-panel-border-color: #a8a29e; /* 400 */
  --history-panel-bg-color: #fafaf9; /* 50 */
  --font-color-white: white;
  --players-padding: 30px;
}

body {
  background: var(--body-bg-color);
  color: var(--font-color-white);
  font-size: 20px;
  /* height: 100vh; */
}

.header {
  background-color: var(--header-bg-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: var(--font-color-white);
}

.header p {
  font-size: 1rem;
  display: inline;
}

.player-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.player-info > * {
  font-size: 4rem;
  text-align: center;
  padding: var(--players-padding);
}

.player-info > .player-name:hover {
  cursor: pointer;
}

.players {
  margin-top: 20px;
}

.game-field {
  display: flex;
}

.sides {
  flex: 1;
}

.player-moves-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.player-moves-list > button {
  font-size: 3rem;
  width: 220px;
  padding: 20px;
  border-radius: 30px;
}

.battlefield {
  flex: 4;

  display: grid;
  grid-template-columns: 1fr 1fr;

  font-size: 5rem;
}

.battlefield > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.battlefield > .round-message {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-size: 3rem;
  padding: 20px;
}

.battlefield > .reset-btn-wrapper {
  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  justify-content: center;
}

.battlefield button {
  font-size: 2rem;
  padding: 20px 60px;
  border-radius: 10px;
}

.round-history {
  padding: 30px;
}

.round-history .history-title {
  text-align: center;
}

.history-table {
  overflow: hidden;
  background-color: var(--font-color-white);
  color: black;

  border: 6px solid var(--header-bg-color);
  border-radius: 6px;
  /* display: flex;
  flex-direction: column-reverse; */

  height: 20vh;
  padding: 10px;
}

.history-table > div {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;

  font-size: 1rem;
  padding: 5px;
}
